<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <h1>Editing Car Status</h1>
  </div>

  <br>
  <div class="container">
    <%= render 'form' %>
  </div>

</div>
<%= link_to 'Back', user_car_car_status_path(@user,@car,@car_status), class: "btn btn-primary" %>
