<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <h1>New Car Status</h1>
  </div>

  <br>
  <div class="container">
    <!-- <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineCheckbox1" value="เตรียมพร้อม"> เตรียมพร้อม
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineCheckbox2" value="รื้อ"> รื้อ
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineCheckbox3" value="พ่นสี"> พ่นสี
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineCheckbox1" value="ประกอบ"> ประกอบ
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineCheckbox2" value="ขัดสี"> ขัดสี
    </label>

    <br><br> -->




    <%= render 'form' %>
    <!-- <div class="checkboxselect">

    </div> -->
  </div>

</div>
<%= link_to 'Back', user_car_path(@user,@car), class: "btn btn-primary" %>









<!-- <script type="text/javascript">
var keep_value = "";
$(".description_carstatus").html("");
$('.radio-inline :radio').click(function() {
  $("textarea").html("");
  var $this = $(this);
  // $this will contain a reference to the checkbox
  var xx = this.value
  // console.log("this.value",xx);
  // console.log("keep_value1",keep_value);
  var x = "#"+this.value
  // console.log(xx);
  // console.log(x);
  if ($this.is(':checked')) {
    // console.log("keep_value2",keep_value);
    if (keep_value != xx) {
      $(".description_carstatus").html("");
    }else {
      $(".description_carstatus").html("");
    }
      keep_value = xx
      $('.description_carstatus').append(xx)
      // console.log("keep_value3",keep_value);

  }else {
    $(".description_carstatus").html("");
  }

  // console.log(keep_status);
  // console.log("keep_value4",keep_value);
});
$(".description_carstatus").html("");

</script> -->
