<div class="panel panel-primary">
  <div class="panel-heading panel-primary">

    <h1>New User</h1>
  </div>
  <div class="container">
    <%= render 'form' %>
    <br><br>
  </div>
</div>

<%= link_to 'Back', users_path  , class: "btn btn-primary" %>
