<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <h1>New Car</h1>
  </div>

  <br>
  <div class="container">
    <%= render 'form' %>
  </div>

</div>
<%= link_to 'Back', cars_path, class: "btn btn-primary" %>
